* {
    box-sizing: border-box;
}

body {
    background: url(https://c0.wallpaperflare.com/preview/842/117/229/alcohol-drinks-drink-beach.jpg);
    color: #eee;
    font: 1em 'PT Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

::selection {
    background-color: #ff5252;
}

.tabbed {
    width: 900px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.7);
}

.tabbed > input {
    display: none;
}

.tabbed > label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    background: #ff5252;
}

.tabs {
    clear: both;
    perspective: 600px;
}

.tabs > div {
    width: 900px;
    position: absolute;
    border: 2px solid #ff5252;
    padding: 10px 250px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 895px) {
    .tabbed {
        width: 895px;
    }

    .tabbed > label {
        display: none;
    }

    .tabs > div {
        width: 895px;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }

    .tabs > div h2 {
        border-bottom: 2px solid #4EC6DE;
        padding-bottom: .5em;
    }
    .main-title {
        margin: 0;
        font-weight: 600;
        color: #f7f1e3;
        font-size: 50px;
        padding: 0 24px;
        letter-spacing: 2px;
        background: rgba(0, 0, 0, 0.7);
        font-family: 'Oswald', sans-serif;
    }
    .szereg-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
    }
    .a {
        grid-column: 1;
    }

    .b {
        grid-column: 2;
    }

    .c {
        grid-column: 3;
    }

    .d {
        grid-column: 4;
    }
}
